.skills{
    padding: 80px 60px;
    background-color: #0a0a0f;
    color: white;
    text-align: center;
}

.skills h4{
    color: #7c5cff;
    font-size: 35px;
    margin-bottom: 10px;
}

.skills h2{
    margin-bottom: 40px;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 20px;
}

.skill-card{
    background: #7c5cff;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
    font-weight: 500;
}

.skill-card:hover{
    transform: translate(-5px);
    background-color: black;
    color: white;
    border: 3px solid #7c5cff;
}